body{margin-left: 0px;
top:0px;}
header{  position:sticky;
    top:0px;}
    #restaurant-name>a{color:white;
    text-decoration: none;
font-size: 35px;}
nav{padding:5px;
    padding-bottom: 0px;
    width:100vw;
    background-color:#000000;
    color:#FFFFFF;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    font-size:medium;
}
   #restaurant-name{padding:0px;
margin: auto;
display: flex;
align-items:center;
}
.navigation{width:60vw;
padding:0px; 
margin: auto;
}
#social-media-icons{margin: auto;}
header li{list-style-type:none;}
header>nav>ul>li>a>img{padding:0px; margin:0px;
    width:50px;
    height: 50px;
    object-fit: contain;}
    header>nav>ul>li>a{color:white;
    text-decoration: none;
padding: 0px;}
nav>ul{
    display:flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
    margin:0px;
    padding: 0px;
}


#menu-heading{font-weight: 800;
border-bottom:10px solid #F24C4C;
width:60vw;
font-size:40px;
padding: 0px;
}
#home p{font-size:20px;
width: 60vw;
padding:5px;}
#home{
    color:white;
background-image:url('https://s3-alpha-sig.figma.com/img/791f/9ca1/801cf713555ea70ba295e8de05e15650?Expires=1710115200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Pix86pvgBvlS6LfKOC9tyPO9Z15-cMqObPaLbz6w~w09Ls-HWb1oM3sWVArYIOW9syPQU4m5D36tvrY83DUkpGhCtdIEAbaQT4NCXKUfVJEILXKwaZS6ax128b8C3ZeHg39qOILGZ6wY8JJC0itFDSKZ5V1moVxLKdC765as94vcfZ7drQ~V1H3IQ1oM6akEpsEhm4Ck2VbDV1WCkIclsVos-clRIhEG17Bx9IMs6i4msG5peNom6d7F~~o~UtdX6uNVVDcTveEUvFQwyAZR48S-89aWubDa9HCf6SfTSea~Lqh2Mr~9A056PfmhCIEpEOE22YJw9UX-AucB9ILuFw__');
width:100.85vw;
height: 100vh;
background-repeat: no-repeat;
background-size:cover;
background-position:center;
display: flex;
flex-direction: column;
justify-content: end;

}


#section-aboutus{margin:auto;
    background-color: #000000;
    color:white;
    padding:5px;
    width:100vw;
    display: flex;
    flex-direction: column;  
}
#section-aboutus img{width:35vw; 
border-radius: 10px;
box-shadow:0px 0px 10px red;
object-fit: cover;
}
#section-aboutus>h2{border-bottom:8px solid red;
text-align:center;
width:300px;
margin:auto;
padding-top: 50px;
margin-bottom: 50px;
}
#section-aboutus>div>p{
    border-top:2px solid red;
    width:45vw;
    text-align: justify;
}
#section-aboutus>div{display:flex;
flex-wrap:wrap;
justify-content: space-around;
}


#section-menu{margin:0px;
    width:100vw;
    height:auto;
    background-color: #000000;
    color:white;
    display: flex;
    flex-direction: column;
    padding:5px;
    padding-top:70px;
}
#section-menu>h2{
    border-bottom: 8px solid red;
    width:300px;
    text-align: center;
    margin:auto;
    padding-top: 50px;
}
#section-menu>p{
    text-align: justify;
    padding:10px;
}
#menuitems{
    display: grid;
    grid-template-columns:1fr 1fr;
}
#menuitems>div{
 color:white;
 display: grid;
 grid-template-columns:1fr 1fr;
 margin:0px;
 padding:15px;
}
#menuitems>div>div{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin:0px;
}
#menuitems>div>div>h3{color:#F2C94C; margin:0px; padding: 0px;
}
#menuitems>div>img{
    width:20vw;
    height:20vh;
    object-fit: cover;
    margin-left:5px;
    border-radius:5px;
}
#menuitems>div>div>p{
    text-align: justify;
}


#section-carousel{width:100vw;
padding:5px;
margin:0px;
background-color:black;
padding-top: 30px;}
#section-carousel>h2{
    border-bottom: 8px solid red;
    width:300px;
    text-align: center;
    margin:auto;
    color:white;
    padding-top: 50px;
    margin-bottom: 30px;
}


#section-gallery{
    width:100vw;
padding:5px;
margin:0px;
background-color:black;
display: grid;
grid-template-columns: 3fr 1fr 1fr;
grid-template-rows:1fr 1fr  1fr 1fr 1fr 1fr 1fr;
grid-template-areas:"g g g" 
                    "a b c"
                    "a b c"
                    "a d c"
                    "a d e"
                    "a f e"
                    "a f e";
                    padding-top:60px;
}
#section-gallery img{width:100%;
height:100%;
object-fit: cover;
border-radius: 10px;
}
#g1{grid-area:a;
padding: 5px;}
#g2{grid-area:b; padding: 5px;}
#g3{grid-area:c; padding: 5px;}
#g4{grid-area:d; padding: 5px;}
#g5{grid-area:e; padding: 5px;}
#g6{grid-area:f; padding: 5px;}
#gh{grid-area:g;}
#section-gallery>h2{border-bottom: 8px solid red;
    width:300px;
    text-align: center;
    margin:auto;
    padding-top: 50px;
    color:white;}


    #section-findus{
        width:100vw;
        padding:5px;
        margin:0px;
        background-color:black;
        color:white;
    }
    #section-findus>h2{border-bottom: 8px solid red;
        width:300px;
        text-align: center;
        margin:auto;
        color:white;
        padding-top: 50px;
    }
    #section-findus>div>div>div{
        display:flex;
        font-size: small;
        align-items: center;
    }
    #section-findus>div>div{display: flex;
    flex-direction: column;
padding-right: 20px;}

    #section-findus>div>div>div>img{
        color: white;
        width:25px;
        height:25px;
        object-fit: contain;
        margin-right: 10px;
    }
    #section-findus>div{display:flex;
        padding:50px;
    }
    #section-findus>div>iframe{border-radius: 10px;
        width:35vw;
        height: 40vh;
        object-fit: cover;
        border: 1px solid red;
        box-shadow:0px 0px 10px red;
    }

    #section-ourteam{
        width:100vw;
        background-color: #000000;
        color:white;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 5px;

    }
    #section-ourteam>img{height:120px;
    padding-left:20px;}
    #section-ourteam>div>div>img{width:30px;
    height: 30px;
    margin-right:8px;
}
    #section-ourteam{display:flex;
    flex:wrap;
justify-content: space-between;
}
    #section-ourteam>div{display: flex;
    flex-direction: column;
padding-right:20px;}
    #section-ourteam>div>div{display: flex;
    align-items:center;
padding: 0px;
margin: 0px;}

   
    @media screen and (max-width:700px){
#menuitems{
    display: flex;
    flex-direction: column;
}
#menuitems>div>img{
    width:35vw;
    height:30vh;
    object-fit: cover;
    margin-left:5px;
    border-radius:5px;
}
#section-aboutus>div>p{width:80vw;}
#section-aboutus>div>img{width: 80vw;}
#section-aboutus>div{display: flex;
flex-wrap: wrap;}
#section-findus>div>iframe{width: 80vw;}
#section-findus>div{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
#section-ourteam>div{margin:auto;}
#section-ourteam>img{margin:auto; padding-bottom:5px;}
}
